.LolChampItemLoad {
  display: grid;
  grid-template-columns: 1fr 4fr;
  box-sizing: border-box;
  padding: 5px;
  height: calc((var(--panel-size) - 80px)/5);
  background-color: #ffffff50;
  border-radius: 15px;
}

.LolChampItemLoad-img {
  display: block;
  box-sizing: border-box;
  margin: auto;
  aspect-ratio: 1/1;
  height: 80%;
  background-color: #ffff;
  border-radius: 50%;
}

.LolChampItemLoad-spells {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
}

.LolChampItemLoad-spells > div {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #ffff;
}

.animar {
  animation-name: load-item;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes load-item {
  0%{
    opacity: 20%;
  }
  100%{
    opacity: 60%;
  }
}