.teams-panel {
  display: flex;
  flex-direction: row;
}

.teams-panel > section {
  width: 100%;
  margin: 10px;
  padding: 10px 15px;
  height: var(--panel-size);
  border-radius: 15px;
}

.red-team {
  background-color: var(--color-red-bg);
}

.blue-team {
  background-color: var(--color-blue-bg);
}

@media screen and (max-width: 900px) {
  .teams-panel {
    flex-direction: column;
  }
  .teams-panel > section {
    box-sizing: border-box;
    width: 97%;
    padding: 10px 15px;
    min-height: var(--panel-size);
    height: auto;
    border-radius: 15px;
  }
}